<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <beans>
        <bean class="org.hqf.tutorials.spring.domain.User" name="user"></bean>

        <!--静态工厂方法创建User-->
        <bean class="org.hqf.tutorials.spring.test.UserFactory" factory-method="createUserStatic" name="userByStaticFactory"></bean>

        <!--动态工厂方法创建User-->
        <bean class="org.hqf.tutorials.spring.test.UserFactory" name="userFactory"></bean>
        <bean factory-bean="userFactory" factory-method="createUser" name="userByFactory"></bean>

    </beans>
</beans>