<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd ">

    <beans>

        <!--属性注入-->
        <bean class="org.hqf.tutorials.spring.domain.User" name="user" scope="prototype">
            <property name="name" value="Frank"/>
            <property name="age" value="18"/>
            <property name="role" ref="role"/>
        </bean>

        <bean class="org.hqf.tutorials.spring.domain.Role" name="role">
            <property name="name" value="Admin"></property>
        </bean>

        <!--构造函数注入-->
        <bean class="org.hqf.tutorials.spring.domain.User" name="userConstructor" scope="prototype">
            <constructor-arg name="name" value="Tom"/>
            <constructor-arg name="age" value="28"/>
            <constructor-arg name="role" ref="role"/>
        </bean>

        <!--命名空间注入-->
        <!--需要引入 xmlns:p="http://www.springframework.org/schema/p"-->
        <bean class="org.hqf.tutorials.spring.domain.User" name="userNamespaceInject"
              scope="prototype"
              p:age="20"
              p:name="jeffery"
              p:role-ref="role"
        />

        <!--Spring Expression Language 注入-->
        <bean class="org.hqf.tutorials.spring.domain.User" name="userSpringExpressionLanguage" scope="prototype">
            <property name="name" value="#{user.name}"/>
            <property name="age" value="#{userNamespaceInject.age}"/>
            <property name="role" ref="role"/>
        </bean>


        <bean class="org.hqf.tutorials.spring.domain.CollectionBean" name="collectionBean">

            <!--<property name="array" value="singleVale"/>-->
            <property name="array">
                <array>
                    <value>Array 0</value>
                    <ref bean="role"></ref>
                </array>
            </property>

            <!-- 如果List中只准备注入一个值(对象),直接使用value|ref即可
	<property name="list" value="jack" ></property>-->
            <property name="list"  >
                <list>
                    <value>jack</value>
                    <value>rose</value>
                    <ref bean="user" />
                </list>
            </property>
            <!-- map类型注入 -->
            <property name="map"  >
                <map>
                    <entry key="url" value="jdbc:mysql:///crm" ></entry>
                    <entry key="user" value-ref="user"  ></entry>
                    <entry key-ref="userConstructor" value-ref="role"  ></entry>
                </map>
            </property>
            <!-- prperties 类型注入 -->
            <property name="props"  >
                <props>
                    <prop key="driverClass">com.jdbc.mysql.Driver</prop>
                    <prop key="userName">root</prop>
                    <prop key="password">1234</prop>
                </props>
            </property>

        </bean>

    </beans>
</beans>